aniso8601==8.0.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cycler==0.10.0
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
numpy==1.19.4
Pillow==8.0.1
pyparsing==2.4.7
pypcapfile==0.12.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
requests==2.25.0
response==0.5.0
scipy==1.5.4
semantic-version==2.8.5
six==1.15.0
SQLAlchemy==1.3.18
urllib3==1.26.2
Werkzeug==1.0.1
yara==1.7.7
yara-python==4.0.2
